/*
 * Arena Example Site StyleSheet
 */

body{
    width: 100%;
    text-align:center;
}

#channel{
    width: 80%;
    margin:0 auto;
}

.block-title{
    font-size: 25px;
}

.block{
    text-align:left;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px;
}

.block-description{
    margin: 10px 0px;
    font-size: 18px;
    font-style: italic;
}

.block-meta{
    margin: 5px 0px;
    font-size: 18px;
    font-weight: bold;
}
